@define-color bar-bg rgba(0, 0, 0, 0);

@define-color main-bg rgba(255, 255, 255, 0.6); 
@define-color main-fg #1D2433; 

@define-color wb-act-bg #5B5E61;
@define-color wb-act-fg #c8c8c8;

@define-color wb-hvr-bg #696969;
@define-color wb-hvr-fg #c8c8c8;
