@define-color bar-bg rgba(29,27,28,0);
@define-color main-bg rgba(29,27,28,0.8);
@define-color main-fg rgba(240,170,205,0.8);
@define-color wb-act-bg rgba(228,88,148,0.4);
@define-color wb-act-fg rgba(255,204,226,1);
@define-color wb-hvr-bg rgba(125,75,96,0.4);
@define-color wb-hvr-fg rgba(170,177,240,0.8);
